<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="assets/graphs/css/style.css">
    
</head>
<body>

<header>
        <div class="logo-container">
            <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/dcfe7691-0ada-4a1e-9e7d-5932ea18fe6a/dalgn2y-d128adda-4820-46f3-8adf-e7e419ab17ed.png" alt="log" style="width:60px;height:40px;">
            <h4 class="logo"> Grafice</h4> 
        </div>

        <nav>
		  </a>
            <ul class="nav-links">
                <li ><a class="nav-link" href="<%= generate %>">Generare grafice</a></li>
                <li ><a class="nav-link" href="<%= tables_1 %>">Istoric nod 1</a></li>
                <li ><a class="nav-link" href="<%= tables_2 %>">Istoric nod 2</a></li>
                <li ><a class="nav-link" href="<%= main %>">Pagina principala</a></li>
            </ul>
        </nav>
    </header>

<h1 style="text-align:center"> Graficul temperaturii al celor 2 Noduri</h1>

<div id="NW">
    <a href="https://plot.ly/~mihai.banica97/14/?share_key=tAfjmRTNgJSjIF1ADFXyLv" target="_blank" title="temperaturi" style="display: block; text-align: center;"><img src="https://plot.ly/~mihai.banica97/14.png?share_key=tAfjmRTNgJSjIF1ADFXyLv" alt="temperaturi" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="mihai.banica97:14" sharekey-plotly="tAfjmRTNgJSjIF1ADFXyLv" src="https://plot.ly/embed.js" async></script>
</div>


<h1 style="text-align:center"> Graficul umiditatii al celor 2 Noduri</h1>

<div id="NE">
    <a href="https://plot.ly/~mihai.banica97/20/?share_key=LK82xaGq6wYpyXYdDwfzhO" target="_blank" title="umiditate" style="display: block; text-align: center;"><img src="https://plot.ly/~mihai.banica97/20.png?share_key=LK82xaGq6wYpyXYdDwfzhO" alt="umiditate" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="mihai.banica97:20" sharekey-plotly="LK82xaGq6wYpyXYdDwfzhO" src="https://plot.ly/embed.js" async></script>
</div>


<h1 style="text-align:center"> Grafic al distantei pana la apa</h1>

<div id="SE">
    <a href="https://plot.ly/~mihai.banica97/18/?share_key=9nX6tsDaT16yN1xqLyXXs1" target="_blank" title="distanta" style="display: block; text-align: center;"><img src="https://plot.ly/~mihai.banica97/18.png?share_key=9nX6tsDaT16yN1xqLyXXs1" alt="distanta" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="mihai.banica97:18" sharekey-plotly="9nX6tsDaT16yN1xqLyXXs1" src="https://plot.ly/embed.js" async></script>
</div>

<h1 style="text-align:center"> Grafic al alertei privind nivelul de apa</h1>

<div id="SW">
    <a href="https://plot.ly/~mihai.banica97/16/?share_key=qcPHPWugrv7bsIYTt54ke1" target="_blank" title="alerta_apa" style="display: block; text-align: center;"><img src="https://plot.ly/~mihai.banica97/16.png?share_key=qcPHPWugrv7bsIYTt54ke1" alt="alerta_apa" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="mihai.banica97:16" sharekey-plotly="qcPHPWugrv7bsIYTt54ke1" src="https://plot.ly/embed.js" async></script>
</div>


</body>
</html>
